bin
reports
.github

.idea
.editorconfig

*.log
*.DS_Store
.npmrc
yarn.lock
.gitignore

.eslintcache
.stylelintcache

.eslintignore
.eslintrc.js
.stylelintrc.json

jest.*
*.test.js
__snapshots__

browserslist

CONTRIBUTING.md
